<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <title>Homepage</title>
</head>
<script type="text/javascript" src="../static/javascript/scripts.js"></script>

<div class="container">
  <div class="container behind-screen">
    <div class="container screen">
      <p>Byte Bandits Presents...</p>
    </div>
  </div>
</div>

<div class="rps_center">
    <div class="rps_container" style="animation: appear 5s;">
        <img src="../static/images/pixel-rock.png" alt="pixelated rock hand" class="smaller_img"/>
        <span class="rps_text">ROCK</span>
    </div>
    <div class="rps_container" style="animation: appear 6s;">
        <img src="../static/images/pixel-hand.png" alt="pixelated paper hand" class="smaller_img"/>
        <span class="rps_text">PAPER</span>
    </div>
    <div class="rps_container" style="animation: appear 7s;">
        <img src="../static/images/pixel-scissors.png" alt="pixelated scissors hand" class="smaller_img"/>
        <span class="rps_text">SCISSORS</span>
    </div>
</div>

<div class="formHolder">
    <div class="extra-text" style="animation: appear 8s; display:inline; font-size: 30px;">BATTLE ROYALE</div>

    <button class="submit" onclick="toMatch()" style="animation: appear 9s; width: 80px; height: 60px; margin: 20px">Play!</button>
    <div>{{error}}</div>
    <div class="icon_container" style="animation: appear 9.5s;">
        <img src="../static/images/profile.png" alt="profile icon" class="profile" onclick="toProfile()" />
        <br/>
        <img src="../static/images/leaderboard.png" alt="leaderboard icon" class="leaderboard" onclick="toLeaderboard()"/>

    </div>






</div>

</html>
