<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <title>Byte Bandits' RPS Battle Royale</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8" src="static/javascript/scripts.js"></script>
</head>
<h1>
    <div class="title-banner">
        <div class="leftBannerText">
        Byte Bandits
        </div>
    <img class="logo" src="static/images/rps.png">
        <div class="rightBannerText">
        Rock Paper Scissors
        </div>
    </div>
</h1>
<a class="register_link" href="{{url_for('profile')}}" >Profile</a>

</html>
