<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <title>Login!</title>
</head>
<script type="text/javascript" src="../static/javascript/loginScript.js"></script>

<div class="container">
  <div class="container behind-screen">
    <div class="container screen">
      <p>Login!</p>
    </div>
  </div>
</div>

<br/>
<div class="formHolder">
<form>
    <input id="username" class="input_box" type="text" placeholder="Username"/>
    <br/>
    <input id="password" class="input_box" type="password" placeholder="Password"/>
    <br/>
    <div>{{ error }}</div>
    <input type="submit" class="submit" onclick="sendLogin()"/>
</form>
<br/>
<div style="color:whitesmoke; font-size: 1.2rem"> New here? <br/>
    <a class="register_link" href="{{url_for('register')}}">Register!</a>
</div>
</div>

</html>
