<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <title>Byte Bandits' RPS Battle Royale</title>
</head>

<div class="login_title">Login!</div>
<br/>
<br/>
<div class="formHolder"
<form>
    <input class="input_box" type="text" placeholder="Username"/>
    <br/>
    <input class="input_box" type="password" placeholder="Password"/>
</form>
<br/>
<div class="register_link">New Here? Sign Up!</div>
</div>
</html>