<!---HTML for when you are inside a match - WIP-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <title>Byte Bandits' RPS Battle Royale</title>
</head>
<h1 style="text-align: center;"> Match in Progress:</h1>
<body>
    <div id="optionRow">
        <img class="battleOption" src="static/images/rock.png"> <!---Onlick function so the images have functionality and animation-->
        <img class="battleOption" src="static/images/paper.png">
        <img class="battleOption" src="static/images/scissors.png">
    </div>
    <br>
    <div class="vs"> --- VS. ---</div>
    <br>
    <div id="optionRow">
        <img class="battleOption" src="static/images/rock.png"> <!---Onlick function so the images have functionality and animation-->
        <img class="battleOption" src="static/images/paper.png">
        <img class="battleOption" src="static/images/scissors.png">
    </div>
</body>
</html>