<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <title>Profile</title>
</head>

<script type="text/javascript" src="../static/javascript/loginScript.js"></script>

<div class="formHolder">
<img src="{{avatar}}" alt="your current avatar"/>
<div>Display Name: {{display}}</div>
<div>Username: {{username}}</div>
<br />
<div style="color:whitesmoke; padding: 10px; font-size: 1rem;">Need a Change?</div>
<form >
<input type="text" id="display" class="input_box" placeholder="New Display Name"/>
<br />
<input type="password" id="password" class="input_box" placeholder="New Password"/>
<br />
<input type="password" class="confirm_pass" placeholder="Confirm New Password"/>
<div>{{ error }}</div>
<input type="submit" class="submit" onclick="edit()"/>
</form>
</div>


</html>
