<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <title>Register!</title>
</head>
<script type="text/javascript" src="../static/javascript/loginScript.js"></script>

<div class="login_title">Register!</div>
<br/>
<br/>
<div class="formHolder">
<form>
    <input id="username" class="input_box" type="text" placeholder="Username"/>
    <br/>
    <input id="password" class="input_box" type="password" placeholder="Password"/>
    <br />
    <input type="password" id="c_pass" placeholder="Confirm New Password"/>
    <br />
    <input id="display" class="input_box" type="text" placeholder="Display Name!"/>
    <br />
    <input type="submit" onclick="sendRegister()"/>
</form>
<br />
<div>{{error}}</div>
<br/>
<a class="register_link" href="{{url_for('login')}}" >Login</a>
</div>


</html>