html {
    background-color: grey;
    border: solid black 5px;
}


.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 225px;
    height: 225px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.login_title {
    font-size: 2rem;
    text-align: center;
}

.formHolder {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.register_link {
    font-size: 1.2rem;
    color: black;

}

.input_box {
    border-radius: 6px;
    font-size: 1rem;
    padding:10px;
}


a.matchLink {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

a.matchLink:hover {
    color: aqua;
}

#optionRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#optionRow2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.battleOption {
    width: 250px;
    height: 250px;
    border: solid black 7px;
    margin: 10px;
    background-color: lightblue;
    padding: 10px;
}

.vs {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    font-family: monospace;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.title-banner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;
    border: inset black 8px;
    /* box-shadow: 0 0 10px 10px white; */
}

.leftBannerText {
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-size: 70px;
    font-family: monospace;
    position: relative;
    left: 150px;
    text-align: right;
}

.rightBannerText {
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-family: monospace;
    position: relative;
    left: -110px;
    font-size: 60px;
    text-align: left;
    margin-right: 200px;
}