html {
    background-color: grey;
}


.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 250px
}

.login_title {
    font-size: 2rem;
    text-align: center;
}

.formHolder {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.register_link {
    font-size: 1.2rem;
    color: black;

}

.input_box {
    border-radius: 6px;
    font-size: 1rem;
    padding:10px;
}


a.matchLink {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

a.matchLink:hover {
    color: aqua;
}

#optionRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.battleOption {
    width: 250px;
    height: 250px;
    border: solid black 7px;
    margin: 10px;
    background-color: lightblue;
}

.vs {
    font-size: 70px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}